# **Listas com objetos de classes nossas**

In [8]:
class Contacorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return f"[>> Codigo {self.codigo} - Saldo {self.saldo} <<]"

In [9]:
conta_do_gui = Contacorrente(15)
print(conta_do_gui)

[>> Codigo 15 - Saldo 0 <<]

In [10]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>> Codigo 15 - Saldo 500 <<]

In [11]:
conta_da_dani = Contacorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>> Codigo 47685 - Saldo 1000 <<]

In [12]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>> Codigo 15 - Saldo 500 <<]
[>> Codigo 47685 - Saldo 1000 <<]

In [13]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [14]:
print(contas[0])

[>> Codigo 15 - Saldo 500 <<]

In [15]:
conta_do_gui.deposita(100)

In [16]:
print(contas[0])

[>> Codigo 15 - Saldo 600 <<]

In [17]:
print(conta_do_gui)

[>> Codigo 15 - Saldo 600 <<]

In [18]:
print(contas[2])

[>> Codigo 15 - Saldo 600 <<]

In [19]:
contas[2].deposita(200)

In [20]:
print(conta_do_gui)

[>> Codigo 15 - Saldo 800 <<]

# **Tuplas, objetos e anemia**

In [21]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>> Codigo 15 - Saldo 800 <<] [>> Codigo 47685 - Saldo 1000 <<]
[>> Codigo 15 - Saldo 900 <<] [>> Codigo 47685 - Saldo 1100 <<]

In [22]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>> Codigo 15 - Saldo 900 <<] [>> Codigo 47685 - Saldo 1100 <<]

In [23]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [ ]:
guilherme = ('Guilherme', 37, 19881) # tupla
daniele = {'Daniele', 31, 1987}

In [ ]:
guilherme.append(6754)

In [ ]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO

conta_do_gui[1]

In [ ]:
conta_do_gui[1] += 100

In [ ]:
def deposita(conta): # variação "funcional" (separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

In [ ]:
conta_do_gui

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

# **Tupla de objetos e lista de tuplas**

In [24]:
usuarios = [guilherme, daniele]
usuarios

NameError: ignored

In [25]:
usuarios.append(('Paulo', 39, 1979))
usuarios

NameError: ignored

In [ ]:
usuarios[0][0] = "Guilherme Silveira"

In [ ]:
conta_do_gui = Contacorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = Contacorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
contas

In [ ]:
for conta in contas:
  print(conta)

In [ ]:
contas.append(423768)

In [ ]:
contas[0].deposita(300)
for conta in contas:
  print(conta)

# **Listas e polimorfismo**

In [26]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass
  
  def __str__(self):
    return f"[>> Codigo {self._codigo} - Saldo {self._saldo} <<]"

In [27]:
print(Conta(88))

TypeError: ignored

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaIvestimento(Conta):
  pass

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]
for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

# **Arrays (*Evitar o uso*) e Numpy**

Evitaremos ussar array puro, se precisrmos de trabalho numérico, é costume usar numpy

In [28]:
import array as arr

arr.array('d', [1, 3, 5])

array('d', [1.0, 3.0, 5.0])

In [29]:
arr.array('d', [1, 3, 5, 'Guilherm'])

TypeError: ignored

In [ ]:
import numpy as np
# para instalar no computador usar o comando pip install numpy

numeros = np.array([1,2,3])
numeros

In [ ]:
numeros + 3

# **Método abstrato**

In [30]:
ContaIvestimento(764)

NameError: ignored

# **Igualdade e o __eq__**

In [31]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposito(self, valor):
    self._saldo += valor
  
  def __eq__(self, outra_conta):
    if type(outra_conta) != ContaSalario:
      return False

    return self._codigo == outra_conta._codigo and self._saldo == outra_conta._saldo
  
  def __str__(self):
    return f"[>> Codigo {self._codigo} - Saldo {self._saldo} <<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [32]:
conta1 = ContaSalario(37)
print(conta1)

[>> Codigo 37 - Saldo 0 <<]

In [33]:
conta2 = ContaSalario(37)
print(conta2)

[>> Codigo 37 - Saldo 0 <<]

In [34]:
conta1 == conta2

True

In [35]:
contas = [conta1]
conta1 in contas

True

In [36]:
conta2 in contas

True

In [37]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
print(conta1 == conta2)
conta1.deposito(100)
print(conta1 == conta2)

True
False

In [38]:
isinstance(Contacorrente(34), Contacorrente)

True

In [39]:
isinstance(Contacorrente(34), Conta)

False

# **Builtins como enumerated, range e desempacotamento automatico de tuplas**

In [40]:
idades = [15, 87, 32, 65, 56, 22, 49, 37]
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 22
6 49
7 37

In [41]:
range(len(idades)) # lazy

range(0, 8)

In [42]:
enumerate(idades) # lazy

In [43]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [44]:
list(enumerate(idades)) # forcei a geração dos valores

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 22), (6, 49), (7, 37)]

In [45]:
for indice, valor in enumerate(idades): # unpacking da nossa tupla
  print(indice, ' X ', valor)

0  X  15
1  X  87
2  X  32
3  X  65
4  X  56
5  X  22
6  X  49
7  X  37

In [46]:
usuarios = [('guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39,1979)] # já desempacotando
for nome, idade, nascimento in usuarios:
  print(nome)

guilherme
Daniela
Paulo

In [47]:
for nome, _, _ in usuarios: # ja desempacontando, ignorando o resto
  print(nome)

guilherme
Daniela
Paulo

# **Ordenação básica**

In [48]:
sorted(idades)

[15, 22, 32, 37, 49, 56, 65, 87]

In [49]:
15<32

True

In [50]:
print(f'Idades = {idades}')
list(reversed(idades))

Idades = [15, 87, 32, 65, 56, 22, 49, 37]

[37, 49, 22, 56, 65, 32, 87, 15]

In [51]:
sorted(idades,reverse=True)

[87, 65, 56, 49, 37, 32, 22, 15]

In [52]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 22, 15]

In [53]:
idades

[15, 87, 32, 65, 56, 22, 49, 37]

In [54]:
idades.sort()

In [55]:
idades

[15, 22, 32, 37, 49, 56, 65, 87]

# **Ordenação de objetos sem ordem natural**

In [56]:
15 < 12

False

In [57]:
nomes = ["Guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [59]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
  print(conta)

[>> Codigo 17 - Saldo 500 <<]
[>> Codigo 3 - Saldo 1000 <<]
[>> Codigo 133 - Saldo 510 <<]

In [60]:
sorted(contas)

TypeError: ignored

In [61]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [63]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>> Codigo 17 - Saldo 500 <<]
[>> Codigo 133 - Saldo 510 <<]
[>> Codigo 3 - Saldo 1000 <<]

In [64]:
from operator import attrgetter
for conta in sorted(contas, key=attrgetter('_saldo')):
  print(conta)

[>> Codigo 17 - Saldo 500 <<]
[>> Codigo 133 - Saldo 510 <<]
[>> Codigo 3 - Saldo 1000 <<]

# **Implementando o __lt__**

In [67]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [66]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposito(self, valor):
    self._saldo += valor
  
  def __eq__(self, outra_conta):
    if type(outra_conta) != ContaSalario:
      return False

    return self._codigo == outra_conta._codigo and self._saldo == outra_conta._saldo
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo
  
  def __str__(self):
    return f"[>> Codigo {self._codigo} - Saldo {self._saldo} <<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [69]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

conta_do_guilherme < conta_da_daniela

True

In [70]:
conta_do_guilherme> conta_da_daniela

False

In [72]:
for conta in sorted(contas):
  print(conta)

[>> Codigo 17 - Saldo 500 <<]
[>> Codigo 133 - Saldo 510 <<]
[>> Codigo 3 - Saldo 1000 <<]

In [74]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>> Codigo 3 - Saldo 1000 <<]
[>> Codigo 133 - Saldo 510 <<]
[>> Codigo 17 - Saldo 500 <<]

# **Ordenação completa e functools**

In [77]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>> Codigo 133 - Saldo 500 <<]
[>> Codigo 1700 - Saldo 500 <<]
[>> Codigo 3 - Saldo 1000 <<]

In [78]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>> Codigo 3 - Saldo 500 <<]
[>> Codigo 133 - Saldo 500 <<]
[>> Codigo 1700 - Saldo 500 <<]

In [79]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposito(self, valor):
    self._saldo += valor
  
  def __eq__(self, outra_conta):
    if type(outra_conta) != ContaSalario:
      return False

    return self._codigo == outra_conta._codigo and self._saldo == outra_conta._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def __str__(self):
    return f"[>> Codigo {self._codigo} - Saldo {self._saldo} <<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [81]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas):
  print(conta)

[>> Codigo 3 - Saldo 500 <<]
[>> Codigo 133 - Saldo 500 <<]
[>> Codigo 1700 - Saldo 500 <<]

In [82]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas):
  print(conta)

[>> Codigo 133 - Saldo 500 <<]
[>> Codigo 1700 - Saldo 500 <<]
[>> Codigo 3 - Saldo 1000 <<]

In [83]:
conta_do_guilherme < conta_da_daniela

True

In [84]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [85]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposito(self, valor):
    self._saldo += valor
  
  def __eq__(self, outra_conta):
    if type(outra_conta) != ContaSalario:
      return False

    return self._codigo == outra_conta._codigo and self._saldo == outra_conta._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def __str__(self):
    return f"[>> Codigo {self._codigo} - Saldo {self._saldo} <<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [87]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposito(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposito(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposito(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [89]:
conta_do_guilherme <= conta_da_daniela

True

In [90]:
conta_do_guilherme <= conta_do_paulo

False

In [91]:
conta_do_guilherme < conta_do_guilherme

False

In [92]:
conta_do_guilherme == conta_do_guilherme

True

In [93]:
conta_do_guilherme <= conta_do_guilherme

True